body {
  font-family            : "Segoe UI", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display         : flex;
  margin          : 0 auto;
  align-content   : center;
  flex-direction  : row;
  background-color: #f7d240;
  width           : 70%;
  height          : 50vh;
  padding         : 20px;
}

.sender {
  display        : flex;
  flex-grow      : 1;
  justify-content: flex-start;
  overflow-wrap  : break-word;
}

.recipient {
  display        : flex;
  flex-grow      : 2;
  align-content  : center;
  justify-content: center;
  flex-direction : column;
}

.stamp {
  display        : flex;
  flex-grow      : 1;
  justify-content: flex-end;
}


.addressLabel p {
  font-weight: bold;
  line-height: 2vh;
}

.stampLabel {
  border         : 2px solid #808080;
  width          : 80px;
  height         : 100px;
  display        : flex;
  justify-content: center;
  align-content  : center;
  flex-direction : column;
}

.stampLabel p {
  margin     : 0 auto;
  transform  : rotate(-30deg);
  font-size  : 24px;
  color      : #808080;
  font-weight: bold;
}
